In [86]:
#Import Pandas
import os
import pandas as pd
import numpy as np
df = pd.read_csv('Vine_Table.csv')
df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [87]:
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R100NQNLU9TQW4,4,2,2,N,N
1,R100TPZF3ATU48,1,2,2,N,Y
2,R1016EHSEPJV2O,5,1,1,N,Y
3,R101MMQ74KCL3X,4,1,1,N,Y
4,R101U2EBB0R1YC,2,0,0,N,N

In [88]:
df.count()

review_id            1043886
star_rating          1043886
helpful_votes        1043886
total_votes          1043886
vine                 1043886
verified_purchase    1043886
dtype: int64

In [89]:
df.drop_duplicates(subset=['review_id'])
df.count()

review_id            1043886
star_rating          1043886
helpful_votes        1043886
total_votes          1043886
vine                 1043886
verified_purchase    1043886
dtype: int64

In [90]:
#Filter for total_votes being greater than or equal to 20
vote_df = df[["review_id","star_rating","helpful_votes","total_votes","vine","verified_purchase"]]
vote_count = vote_df[vote_df["total_votes"] >= 20]
vote_count.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30,R10BI5JXAMQGOJ,5,21,22,N,N
56,R10SVK8D3H27ZF,1,212,286,N,N
65,R10XDST2ZRGM74,3,28,38,N,N
184,R11E298152S27P,1,4,54,N,N
211,R11VOAZ9XPXHOP,2,39,56,N,Y

In [91]:
#Create a new DataFrame to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
vote_table = vote_count[vote_count["helpful_votes"]/vote_count["total_votes"]>=0.5]
vote_table.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30,R10BI5JXAMQGOJ,5,21,22,N,N
56,R10SVK8D3H27ZF,1,212,286,N,N
65,R10XDST2ZRGM74,3,28,38,N,N
211,R11VOAZ9XPXHOP,2,39,56,N,Y
229,R128ZAZI2E47C3,1,21,27,N,N

In [92]:
#Create a Dataframe to where there is a Vine review
vine_df = vote_df[vote_df["vine"] == "Y"]
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
102,R108YXX9X92XRQ,5,1,1,Y,N
282,R119FTCXGJP0L7,5,3,4,Y,N
1179,R18EJDX9IX3JF3,3,0,0,Y,N
1262,R19P2V47M03P5K,4,0,1,Y,N
1965,R1EMOUJ76U86ZC,5,2,3,Y,N

In [93]:
#Create a Dataframe to where there is not a Vine review
vine_df = vote_df[vote_df["vine"] == "N"]
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R100NQNLU9TQW4,4,2,2,N,N
1,R100TPZF3ATU48,1,2,2,N,Y
2,R1016EHSEPJV2O,5,1,1,N,Y
3,R101MMQ74KCL3X,4,1,1,N,Y
4,R101U2EBB0R1YC,2,0,0,N,N

In [94]:
#Create a Dataframe for the total number of reviews,
total_reviews = len(vote_df)
total_reviews

1043886

In [95]:
#The number of 5-star reviews
five_star = vote_df[vote_df["star_rating"]== 5]
five_star.count()

review_id            599908
star_rating          599908
helpful_votes        599908
total_votes          599908
vine                 599908
verified_purchase    599908
dtype: int64

In [132]:
new_five_star = len(five_star)
new_five_star

599908

In [133]:
vote_df['star_rating'].value_counts(ascending=True)

2     55458
3     89911
1    112343
4    186266
5    599908
Name: star_rating, dtype: int64

In [141]:
#The percentage 5-star reviews are calculated for all Vine and non-Vine reviews
vine_5 = five_star[five_star["vine" ] == "Y"]
non_vine_5 = five_star[five_star["vine"]== "N"]

In [142]:
vine_5 = len(vine_5) / new_five_star * 100
non_vine_5 = len(non_vine_5) / new_five_star * 100

In [149]:
new_df = pd.DataFrame({
    "Total number of Reviews" : [total_reviews],
    "Number of 5-Star Reivews": [new_five_star],
    "Percentage of Vine Reivews with 5 star" :[vine_5],
    "Percentage of Non-Vine Reviews with 5 stars":[non_vine_5]
})

In [150]:
new_df.head()

,Total number of Reviews,Number of 5-Star Reivews,Percentage of Vine Reivews with 5 star,Percentage of Non-Vine Reviews with 5 stars
0,1043886,599908,0.152523,99.847477